 <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Присоединяйтесь!</h1>
              <p>Регистрируйте свой проект, оставляйте отклики на чужие проекты.
                  Ищите товарищей для работы в команде</p>
              <p><a class="btn btn-lg btn-primary" href="/users/registry" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../stpProject/static/design_files/resources/projects.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Проекты</h1>
              <p>Посмотрите на проекты других или создайте свой собственный</p>
              <p><a class="btn btn-lg btn-primary" href="/group/" role="button">View</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../../stpProject/static/design_files/resources/Vacancies.jpg" data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Вакансии</h1>
              <p>Найдите для себя что-то подходящее
                  или предложите что-то нашим замечательным студентам</p>
              <p><a class="btn btn-lg btn-primary" href="/vacancy/" role="button">View</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
