<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div style="margin-left: 10px;margin-right: 10px">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Stplatform</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                    <li><a href="/" class="MenuButton">Главная</a></li>
                    <li><a href="/vacancy/" class="MenuButton">Вакансии</a></li>
                    <li><a href="/stpProject" class="MenuButton">About</a></li>
                    <li class="divider"></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {{ NavBar }}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
