  <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="" alt="Generic placeholder image">
          <h2>Какой-то заголовок</h2>
          <p>какой-то очень очень очень длинный текст , я хочу спать</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="" alt="Generic placeholder image">
          <h2>Какой-то заголовок</h2>
          <p>какой-то очень очень очень длинный текст , я хочу спать</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="" alt="Generic placeholder image">
          <h2>Какой-то заголовок</h2>
          <p>какой-то очень очень очень длинный текст , я хочу спать</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
