   <div class="OwnerVacancyBox">
        <span>Это вакансия вашей группы</span>
        {% load staticfiles %}
        {% include 'vacancies/components/owner_head.html' %}

        {{ shortGroup.title }}
        <div class="SecondHeader">
            {% include 'vacancies/components/base_info.html' %}
        </div>

        <div class="DescribeBox">
            {% include 'vacancies/components/describe_block.html' %}
        </div>
        {% include 'vacancies/components/bottom.html' %}
    </div>
